/* @media (max-width: 768px){

    .flexFooter{
        justify-content: space-evenly;
        padding: 3rem 0;
        font-size: 1.5rem;
    }
}
@media (max-width: 480px){
    .footer{
        width: 100%;
    }
    .flexFooter{
        padding: 1rem 0;
        width: 75%;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .madeBy{
    width: 100%;
     order:3;
     text-align: center;
     padding-bottom: 1rem;
    }
    .socialIcons{
        order: 1;
        margin-left: 0;
        
    }
    .socialIcons i{
        font-size: 5.5rem;
    }
    .footerLogo{
        order: 2;
        margin-right: 0;
    }
    .footerLogo p{
        font-size: 3.5rem;
          color: #dce0e8;
          font-weight: 600;
    }
    .footerLogo img{
        margin-right: 1rem;
        width: 7rem;
        height: 7rem;
    }
} */