.login-button {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 15px;
  background-color: #4c4f6964;
  color: #dce0e8;
  border: 2px solid #dce0e8;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  backdrop-filter: blur(10px);
  cursor: pointer
}

.login-button:hover {
  transform: scale(1.02);
}


