.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  border-radius: 20px;
  padding: 10px;
  background-color: #313244;

}

.grid-container > div {
    color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid #ccc;
}